<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Document</title>
</head>
<body>
<h1 class="header_h">Запчасти для электромобиля</h1>
<div class="line"></div>
<form action="/search" method="GET">
    <input type="text" name="search" placeholder="Поиск запчастей по названию">
    <button type="submit">Поиск</button>
</form>
{{ $AutopartCount := len .Autoparts }}
{{ if gt $AutopartCount 0 }}
{{range .Autoparts}}
    <div class="card">
        <img src="/static/resources/{{.Image}}" alt="{{.Name}}">
        <h3>{{.Name}}</h3>
        <span>Номера запчасти:</span>
        <ul>
        {{range .Info}}
        <li>{{.}}</li>
        {{end}}
        </ul>
        <a href="/autoparts/{{.ID}}">Подробнее</a>
    </div>
{{end}}
{{ else }}
<p>Запчастей с таким названием нет</p>
{{ end }}
</body>
</html>